.wrapper {
    --search-height: 4.6rem;
    --search-top-spacer: 1rem;
    --search-button-width: 5.2rem;

    height: var(--default-layout-header-height);
    width: 100%;
    box-shadow: 0 0.1rem 0.1rem rgba(0 0 0 / 12%);
    display: flex;
}

.inner {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
}

.search {
    width: 36rem;
    height: var(--search-height);
    background-color: #f5f5f5;
    border-radius: 10rem;
    padding-left: 1.6rem;
    display: flex;
    position: relative;
    border: 0.15rem solid transparent;

    input {
        flex: 1;
        height: 100%;
        color: var(--black);
        font-size: 1.6rem;
        background-color: transparent;
        // padding: 1.2rem 0;
        caret-color: var(--primary);
    }

    input:not(:placeholder-shown) ~ .search-btn {
        color: rgba(22, 24, 35, 0.75);
    }

    &::after {
        content: '';
        position: absolute;
        top: var(--search-top-spacer);
        right: var(--search-button-width);
        width: 0.1rem;
        height: calc(var(--search-height) - var(--search-top-spacer) * 2);
        background-color: rgba(22, 24, 35, 0.12);
    }

    &:focus-within {
        border-color: rgba(22, 24, 35, 0.2);
    }
}

.clear,
.loading {
    position: absolute;
    right: calc(var(--search-button-width) + 1.6rem);
    top: 50%;
    transform: translateY(-50%);
    color: rgba(22, 24, 35, 0.34);
}

.search-btn {
    width: var(--search-button-width);
    // width: 100%;
    border-top-right-radius: 10rem;
    border-bottom-right-radius: 10rem;
    font-size: 1.8rem;
    color: rgba(22, 24, 35, 0.34);

    &:hover {
        cursor: pointer;
        background-color: rgba(22, 24, 35, 0.03);
    }

    &:active {
        background-color: rgba(22, 24, 35, 0.06);
    }
}
